*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 2.5s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .ring:nth-child(2){
    animation: animate2 2.5s linear infinite;
    animation-delay: -1.5s;
    border-top: 4px solid transparent;
    /* border-top: 4px solid #83f11d; */
    border-right: 4px solid #83f11d;
}
.container .ring:nth-child(3){
    animation: animate2 2.5s linear infinite;
    animation-delay: -2.8s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-right: 4px solid #e41cf9;
}
@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    /* top: initial; */
    height: 15px;
    width: 15px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    background: #83f11d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 15px #93ff2d11;
}
.container .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    /* top: initial; */
    height: 15px;
    width: 15px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    background: #e41cf9;
    box-shadow: 0 0 0 5px #e41cf933,
    0 0 0 10px #e41cf922,
    0 0 0 15px #e41cf911;
}
.container .ring::before{
    content: '';
    position: absolute;
    top: initial;
    height: 15px;
    width: 15px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 15px #24ecff11;
}
.container p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    bottom: -100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.15em;
}