*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    /*background-color: #1abc9c;*/
    display: flex;
    flex-wrap: wrap;
}
#addbtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: whitesmoke;
    color:red ;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 10px;

}
#addbtn:hover{
    background-color: brown;
    color: blanchedalmond;
    cursor: pointer;

} 
.note{
    width:400px;
    height: 400px;
    background-color: rgb(199, 199, 213);
    margin: 15px;
    margin-top: 55px;
}
.tool{
    width: 100%;
    background-color: black;
    color:white ;
    padding: 5px;
    display: flex;
    justify-content: end;

}
.tool i{
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;

}
.note textarea:focus {
    border: 0;
    outline: 0;
}
